<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>System zarządzania nieruchomościami</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

    <link href="/css/hamburgers.css" rel="stylesheet">

    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <script language="JavaScript" type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/vendor/jquery/jquery.min.js "></script>

</head>

<body>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->

    <div th:replace="layout :: sidebar"></div>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <button class="hamburger hamburger--collapse  is-active" type="button" onclick="myFunction(this)">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
        </button>

        <div class="container-fluid">


            <div class="col-lg-8 col-md-10 mx-auto">

                <table class="table">
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Powierzchnia</th>
                        <th>Cena</th>
                    </tr>
                    <tr th:each="property : ${properties}">
                        <td th:text="${property.name}"></td>
                        <td th:text="${property.description}"></td>
                        <td th:text="${property.area}"></td>
                        <td th:text="${property.price}"></td>

                    </tr>

                </table>
            </div>

            <a href="/owner/addProperty" class="btn btn-primary">Dodaj nieruchomość</a>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->

<script>
    function myFunction(x) {
        $("#wrapper").toggleClass("toggled");
        x.classList.toggle("is-active");
    }
</script>


</body>

</html>
